# $TOOL

<!-- Each thing below becomes a row in the table - copy it for each risk that's been identified.
     Please delete all the comments from the final document -->

## A thing that might go wrong

### Severity

<!-- How bad it is if the thing happens. H, M, or L. -->
H

### Likelihood

<!-- How likely something is, *after* the control measures listed below. H, M, or L. -->
H

### Risk rating

<!-- If both likelihood and severity are H, this is H
     If one of likelihood and severity is L, and the other is L or M, this is L
     Otherwise, this is M -->
H

### Who may be harmed & how

<!-- Usually some combination of:
       User
       Bystander
       Users of the room
       The space
       Following user -->

### Control measures

<!-- Anything that's in here should also be in the syllabus somewhere, to ensure it's actually practised. -->
