\documentclass[a4paper]{article}
\usepackage[top=2cm,left=2cm,right=2cm,bottom=2.5cm]{geometry}
\usepackage{graphicx}
\renewcommand{\familydefault}{phv}
\begin{document}
\noindent
\raisebox{-.4\height}{\includegraphics[height=1cm]{logo}}\enspace{\large\textbf{Edinburgh Hacklab Training Syllabus: \VAR{title}}}
\VAR{content}
\end{document}
