\documentclass[a4paper]{article}
\usepackage[top=1cm,left=1cm,right=1cm,bottom=1.8cm]{geometry}
\usepackage{ltablex}
\usepackage{colortbl}
\usepackage{graphicx}
\keepXColumns
\renewcommand{\familydefault}{phv}
\begin{document}
\noindent
\raisebox{-.4\height}{\includegraphics[height=1cm]{logo}}\enspace{\large\textbf{Edinburgh Hacklab Training Card}} \\
\begin{tabularx}{\textwidth}{|l|l|X|}
\hline
\textit{Syllabus} & \textit{Version} & \textit{Trainee Name} \\
\hline
\VAR{ items.name } & \texttt{\VAR{version}} & \\
& & \\
\hline
\end{tabularx}

\noindent This card is only to be filled in by instructors authorised for this syllabus. Instructors will record your progress for each topic as follows:\\
\\
\textbf{D} - Topic introduced/demonstrated by instructor.\\
\textbf{1} - First attempt at exercise by trainee.\\
\textbf{2} - Exercise completed by trainee with assistance.\\
\textbf{3} - Exercise completed by trainee, further practice needed.\\
\textbf{S} - Trainee at satisfactory standard for this topic.\\
\\
When all topics in a section have been covered, and you have been evaluated for that section, an instructor will sign next to the section heading. When all sections have been signed off, you will have successfully completed this training programme.

\begin{tabularx}{\textwidth}{|l|X|\VAR{"c|" * sessions}}
    \hline
    & & \multicolumn{\VAR{sessions}}{c|}{} \\
    \textit{ID} & \textit{Topic} & \multicolumn{\VAR{sessions}}{c|}{\textit{Progress}} \\
    \hline
    \endhead
\BLOCK{ for item in items recursive }
\BLOCK{ if item.level == 2 }
    & & \multicolumn{\VAR{sessions}}{c|}{} \\
    \VAR{item.section()} & \multicolumn{1}{l|}{\textbf{\VAR{item.name}}} & \multicolumn{\VAR{sessions}}{c|}{} \\
    \hline
\BLOCK{ else }
    \VAR{item.section()} &
    \BLOCK{ if item.indent > 0 }
        \hspace{\VAR{item.indent * 5}mm}
    \BLOCK{ endif }
    \VAR{item.name}
    \BLOCK{ if item.name.endswith(":") }
        & \multicolumn{\VAR{sessions}}{c|}{\cellcolor[gray]{.8}}
    \BLOCK{ else }
        \VAR{"& " * sessions}
    \BLOCK{ endif }
\\ \hline
\BLOCK{ endif }
\BLOCK{ if item.children }
\VAR{ loop(item) }
\BLOCK{ endif }
\BLOCK{ endfor }
\end{tabularx}
\end{document}
